!!!
%html{lang: "ja", ng: {app: "myApp"}}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %title テスト
    %link{rel: "stylesheet", href: "lib/onsen/css/onsen_ui.css"}
    %link{rel: "stylesheet", href: "lib/onsen/css/topcoat-mobile-onsen-blue.css"}
    %link{rel: "stylesheet", href: "lib/onsen/css/font_awesome/css/font-awesome.min.css"}
    %link{rel: "stylesheet", href: "css/style.css"}
  %body{ontouchmove: "event.preventDefault()"}
    %ons-screen{page: "sliding_menu.html"}
    %script{src: "lib/onsen/onsen_ui.js"}
    %script{src: "js/app.js"}
