%div{:class => "dark-container", :style => "height: 100%"}
  %ons-list-item{ng: {click: "ons.slidingMenu.toggleMenu(); ons.slidingMenu.setAbovePage('navigator1.html')"}}
    %strong 会社概要
  %ons-list-item
    %strong 会社概要
  %ons-list-item
    %strong 会社概要
