%ons-scroller
  %div{ng: {controller: "topController"}}
    %div.player{ng: {click: "goToPlayer()"}}
      %div.profile
        %img.face{src: "https://s3-ap-northeast-1.amazonaws.com/pains-faces/11.jpg"}
        %p.name 11 細川貴英
      %div.record
        %p 打率 .200 1本塁打 2打点 4盗塁
    %div.player{ng: {click: "goToPlayer()"}}
      %div.profile
        %img.face{src: "https://s3-ap-northeast-1.amazonaws.com/pains-faces/11.jpg"}
        %p.name 11 細川貴英
      %div.record
        %p 打率 .200 1本塁打 2打点 4盗塁
    %div.player{ng: {click: "goToPlayer()"}}
      %div.profile
        %img.face{src: "https://s3-ap-northeast-1.amazonaws.com/pains-faces/11.jpg"}
        %p.name 11 細川貴英
      %div.record
        %p 打率 .200 1本塁打 2打点 4盗塁
