.dark-container {
    background-color: #454646;
}

.tiles {
    width: 206px;
    margin: 55px auto;
    padding: 5px;
    list-style: none;
    background: #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
}

.tiles:before,
.tiles:after {
    content: "";
    display: table;
}

.tiles:after {
    clear: both;
}

.tiles {
    zoom: 1;
}

/* -------------------------------- */

.tiles li {
    position: relative;
    float: left;
    cursor: pointer;
    height: 66px;
    width: 66px;
    margin: 4px 0 0 4px;
    color: rgba(0, 0, 0, 1);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 99px;
}

#container:hover .tiles li {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#container .logo {
    visibility: hidden;
}

#container:hover .logo {
    visibility: visible;
}

.tiles .cover {
    z-index: 2;
}

.tiles .cover:focus {
    outline: 0;
}

/* -------------------------------- */

.tiles li:nth-child(1),
.tiles li:nth-child(2),
.tiles li:nth-child(3) {
    margin-top: 0;
}

.tiles li:nth-child(1),
.tiles li:nth-child(4),
.tiles li:nth-child(7) {
    margin-left: 0;
}

/* -------------------------------- */

.tiles li:nth-child(1) {
    background-color: #8bbe9d;
}

.tiles li:nth-child(2) {
    background-color: #333;
}

.tiles li:nth-child(3) {
    background-color: #333;
}

.tiles li:nth-child(4) {
    background-color: #8bbe9d;
}

.tiles li:nth-child(5) {
    background-color: #f0f397;
}

.tiles li:nth-child(6) {
    background-color: #edaaaa;
}

.tiles li:nth-child(7) {
    background-color: #8bbe9d;
}

.tiles li:nth-child(8) {
    background-color: #f0f397;
}

.tiles li:nth-child(9) {
    background-color: #edaaaa;
}

/* -------------------------------- */

#container {
    position: relative;
    width: 310px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    width: 23px;
    cursor: pointer;
}

.green {
    height: 80px;
    background-color: #8bbe9d;
    top: 70px;
    left: 95px;
}

.yellow1 {
    height: 20px;
    background-color: #f0f397;
    top: 130px;
    left: 122px;
}

.yellow2 {
    height: 20px;
    background-color: #f0f397;
    top: 130px;
    left: 165px;
}

.red {
    height: 20px;
    background-color: #edaaaa;
    top: 130px;
    left: 192px;
}

#copy {
    margin-top: 15px;
    text-align: center;
}

li.nothing:hover {
    cursor: default;
}

#mail {
    color: #333;
}




/* iPhone 4: */
@media screen and (device-aspect-ratio: 2/3) {
    .dish-img {
        width: 80%;
    }
}

/* iPhone 5: */
@media screen and (device-aspect-ratio: 40/71) {
    
}
